
<div class="row" style="overflow: hidden;" >
  <div class="col-md-5">

    <select   ng-change="change();"style="padding-left:0%" ng-model="gidFinca" class="form-control selectsTabs">
      <!--<option value="" >Seleccione un Formulario</option>-->
      <option ng-repeat="finca in fincas" value="{{finca.gid}}">{{finca.nombrefinca}}(Código:{{finca.codigofinca}})</option>
    </select>

    <svg
            width="480"
            height="480"
            style="border:2px groove #0455BF">

      <polygon
              ng-click="unir(coordenadas.gid, coordenadas.puntos)"
              ng-repeat="coordenadas in json"
              ng-attr-points="{{coordenadas.puntos}}"
              style="fill:#26C281;stroke:black;stroke-width:1" />

    </svg>
  </div>



  <div class="col-md-7">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Información general</a></li>
        <li><a data-toggle="tab" href="#menu1">Formularios de fincas</a></li>
        <li  ng-if="apartoAtual" ><a data-toggle="tab" href="#menu2">Formularios de aparto {{apartoGid}}</a></li>
      </ul>

      <div class="tab-content" style="margin-top: 2%">
        <div id="home" class="tab-pane fade in active">
          <div class="col-md-8" ng-if="gidFinca">
            <div class="panel panel-info">
              <div class="panel-heading clearfix" >
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Información de finca</h3>
              </div>
              <div class="panel-body" >
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Codigo Finca:</label>
                  <div class="col-md-6">
                    {{dataFinca.codigofinca}}
                  </div>
                </div>
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Nombre Finca:</label>
                  <div class="col-md-6">
                    {{dataFinca.nombrefinca}}
                  </div>
                </div>
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Provincia:</label>
                  <div class="col-md-6">
                    {{dataFinca.provincia}}
                  </div>
                </div>
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Cantón:</label>
                  <div class="col-md-6">
                    {{dataFinca.canton}}
                  </div>
                </div>
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Distrito:</label>
                  <div class="col-md-6">
                    {{dataFinca.distrito}}
                  </div>
                </div>
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Dirección Exacta:</label>
                  <div class="col-md-6">
                    {{dataFinca.direccionexacta}}
                  </div>
                </div>
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Latitud:</label>
                  <div class="col-md-6">
                    {{dataFinca.latitud}}
                  </div>
                </div>
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Longitud:</label>
                  <div class="col-md-6">
                    {{dataFinca.longitud}}
                  </div>
                </div>


              </div>
            </div>

            <div class="panel panel-info" ng-if="apartoAtual">
              <div class="panel-heading clearfix" >
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Información de Apartos</h3>
              </div>
              <div class="panel-body">
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >ID Aparto:</label>
                  <div class="col-md-6">
                    {{apartoGid}}
                  </div>
                </div>
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Tipo actividad:</label>
                  <div class="col-md-6">
                    {{dataAparto.nombre}}
                  </div>
                </div>
                <div class=" row"  style="margin-bottom: 1%">
                  <label  class="col-md-6" >Descripción:</label>
                  <div class="col-md-6">
                    {{dataAparto.descripcion}}
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>
        <div id="menu1" class="tab-pane fade">
          <div class="col-md-10" ng-if="gidFinca" >
            <div class="panel panel-info">
              <div class="panel-heading clearfix" >
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Formularios de la finca</h3>
              </div>
              <div class="panel-body"  style="max-height: {{heightpanel}}px;">
                <div class="row">
                  <div class="col-md-9" >
                    <select style="padding-left:0%" ng-model="$parent.formActual" class="form-control selectsTabs">
                      <!--<option value="" >Seleccione un Formulario</option>-->
                      <option ng-repeat="formulario in formularios" value="{{formulario.idform}}">{{formulario.nombreform}}</option>
                    </select>

                  </div>
                  <div class="col-md-2" style="padding-left:0" >
                    <button  class="btn btn-primary" ng-click="anadirFormFinca()">Añadir</button>
                  </div>
                </div>F
                <div class="row" style="padding-left:3%" >
                  <div class="col-md-10" ng-if="formulariosFincaAcual.length == 0">
                    -- No hay formularios --
                  </div>
                  <div ng-if="formulariosFincaAcual.length > 0" style="overflow-y:auto; max-height: {{heightListaPreg}}px; ">
                    <table class="table table-condensed" >
                      <tr >
                        <!--<th>Id</th>-->
                        <th>Nombre</th>
                        <th>Ver respuestas</th>
                        <th></th>
                        <th></th>
                        <!--<th>Descripción</th>-->
                        <!-- <th>Fecha</th>-->
                      </tr>

                      <tr ng-repeat="form in formulariosFincaAcual">
                        <!--<td>{{form.idform}}</td>-->
                        <td style="width: 40%">{{form.nombreform}}</td>
                        <!--<td>{{form.descripcion}}</td>-->
                        <!--<td>{{form.fecha}}</td>-->
                        <td style="width: 40%">
                          <select style="padding-left:0%;" ng-model="$parent.respActual" ng-change="formActualFunc($parent.respActual)" class="form-control selectsTabs">
                            <!--<option value="" >Seleccione un Formulario</option>-->
                            <option ng-repeat="respuesta in form.respuestas" value="{{respuesta}}">{{respuesta.fecha_hora| date:"dd/MM/yyyy  h:mma"}}</option>
                          </select>
                        </td>
                        <td style="width:1%">
                          <a type="button" class="btn-eiminarOpcion"   ng-click = "mostrarRespuestasForm()">
                            <span class="glyphicon glyphicon-eye-open "></span>
                          </a>
                        </td>
                        <td style="width:1%">
                          <button ng-disable="form.respuestas != []" type="button" class="btn-eiminarOpcion"  ng-click = "eliminarForm(form.idform,codigofinca,'finca')">
                            <span class="glyphicon  glyphicon-trash icon-eiminarOpcion"></span>
                          </button>

                        </td>

                        <td>
                          <!-- <button type="button" class="btn-eiminarOpcion" ng-click="eliminarPregForm(opcion)">-->
                          <span style="color: darkgray" title="ID:{{form.idform}}&#13; Descripción:{{form.descripcion}}&#13; Fecha:{{form.fecha}}  " class="glyphicon  glyphicon-info-sign icon-eiminarOpcion"></span>
                          <!-- </button>-->

                        </td>
                        <!-- After seven iterations a new `<tr>` should be aded -->
                        </td>
                      </tr>
                    </table>
                  </div>


                </div> <!--div apartos-->
              </div><!--div seleccion finca-->
            </div>
          </div>
        </div>
        <div id="menu2" class="tab-pane fade">
          <div class="col-md-10" ng-if="apartoAtual" >
            <div class="panel panel-info">
              <div class="panel-heading clearfix" >
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Formularios del aparto {{apartoGid}}</h3>
              </div>
              <div class="panel-body" style="max-height: {{heightpanel}}px;">
                <div class="row">
                  <div class="col-md-9" >
                    <select style="padding-left:0%" ng-model="$parent.formActualAparto" class="form-control selectsTabs">
                      <!--<option value="" >Seleccione un Formulario</option>-->
                      <option ng-repeat="formulario in formularios" value="{{formulario.idform}}">{{formulario.nombreform}}</option>
                    </select>

                  </div>
                  <div class="col-md-2" style="padding-left:0">

                    <button  class="btn btn-primary" ng-click="anadirFormAparto()">Añadir</button>
                  </div>
                </div>

                <div class="row" style="padding-left:3%" >
                  <div class="col-md-10" ng-if="formulariosApartoActual.length == 0">
                    -- No hay formularios --
                  </div>

                  <div ng-if="formulariosApartoActual.length > 0" style="overflow-y:auto; max-height: {{heightListaPreg}}px; ">
                    <table class="table table-condensed" >
                      <tr >
                        <!--<th>Id</th>-->
                        <th>Nombre</th>
                        <th>Ver respuestas</th>
                        <th></th>
                        <th></th>
                        <!--<th>Descripción</th>-->
                        <!-- <th>Fecha</th>-->
                      </tr>

                      <tr ng-repeat="form in formulariosApartoActual">
                        <!--<td>{{form.idform}}</td>-->
                        <td style="width: 40%">{{form.nombreform}}</td>
                        <!--<td>{{form.descripcion}}</td>-->
                        <!--<td>{{form.fecha}}</td>-->
                        <td style="width: 40%">
                          <select style="padding-left:0%;" ng-model="$parent.respActualAparto" ng-change="formActualFuncAparto($parent.respActualAparto)" class="form-control selectsTabs">
                            <!--<option value="" >Seleccione un Formulario</option>-->
                            <option ng-repeat="respuesta in form.respuestas" value="{{respuesta}}">{{respuesta.fecha_hora| date:"dd/MM//yyyy  h:mma"}}</option>
                          </select>

                        </td>
                        <td style="width:1%">
                          <a type="button" ng-disable="form.respuestas != []" class="btn-eiminarOpcion"   ng-click = "mostrarRespuestasFormAparto()">
                            <span class="glyphicon glyphicon-eye-open "></span>
                          </a>
                        </td>

                        <td style="width:1%" >
                          <button type="button" class="btn-eiminarOpcion"  ng-click = "eliminarForm(form.idform,apartoGid,'aparto')">
                            <span class="glyphicon  glyphicon-trash icon-eiminarOpcion"></span>
                          </button>

                        </td>

                        <td>
                          <!-- <button type="button" class="btn-eiminarOpcion" ng-click="eliminarPregForm(opcion)">-->
                          <span style="color: darkgray" title="ID:{{form.idform}}&#13; Descripción:{{form.descripcion}}&#13; Fecha:{{form.fecha}}  " class="glyphicon  glyphicon-info-sign icon-eiminarOpcion"></span>
                          <!-- </button>-->

                        </td>
                        <!-- After seven iterations a new `<tr>` should be aded -->
                        </td>
                      </tr>
                    </table>
                  </div>


                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

  </div>



</div>
