<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .modal-header, h4, .close {
        background-color: #3C3CDE;
        color:white !important;
        text-align: center;
        font-size: 30px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }
    #dividir{

        background-color: white;
        color: black;
        border: 2px solid blue;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    #set_union{
        background-color: white;
        color: black;
        margin-top:50%;
        width:300px;
        height:100px;
        border: 2px solid blue;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    #set_union:hover {
        background-color: blue; /* Green */
        color: white;
    }

    #set_divs{
        background-color: white;
        color: black;
        margin-top:50%;
        width:300px;
        height:100px;
        border: 2px solid blue;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    #set_divs:hover {
        background-color: blue; /* Green */
        color: white;
    }

    #dividir:hover {
        background-color: blue; /* Green */
        color: white;
    }
    #anadir{

        background-color: white;
        color: black;
        border: 2px solid blue;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }

    #anadir:hover {
        background-color: blue; /* Green */
        color: white;
    }
    #unir{

        background-color: white;
        color: black;
        border: 2px solid blue;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    #infoForms{

        background-color: white;
        color: black;
        margin: 1px;
        width:170px;
        border: 2px solid blue;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
    }
    #infoForms:hover{
        background-color: blue; /* Green */
        color: white;
    }

    #unir:hover {
        background-color: blue; /* Green */
        color: white;
    }

    #pruebaS {

    }

</style>

<!-- include the script -->
<script src="../IDE-MAG-Master/css/alertify/alertify.js"></script>


<!--<script src="http://localhost:8012/IDE-MAG-Master/css/alertify/alertify.js"></script>-->


<!-- include the style -->
<link rel="stylesheet" href="../IDE-MAG-Master/css/alertify/css/alertify.css" />
<!-- include a theme -->
<link rel="stylesheet" href="../IDE-MAG-Master/css/alertify/css/themes/default.min.css" />


<div class="row" style="overflow-x: hidden;" >
    <div class="col-md-5">

        <div class="row"  style="margin-top: 1%">
            <div class="col-md-11">


                <select   ng-change="change();"style="padding-left:0%" ng-model="gidFinca" class="form-control selectsTabs">
                    <!--<option value="" >Seleccione un Formulario</option>-->
                    <option ng-repeat="finca in fincas" value="{{finca.gid}}">{{finca.nombrefinca}}(Código:{{finca.codigofinca}})</option>
                </select>


            </div>


        </div>

        <div class="row" style="margin-top: 2%">
            <div id="charged" class="col-md-11">
                <svg
                     width="450"
                     height="450"
                     style="border:2px groove #0455BF">

                    <polygon
                             ng-click="unir(coordenadas.gid, coordenadas.puntos)"
                             ng-attr-points="{{coordenadas.puntos}}"
                             style="stroke:black;stroke-width:1"
                             ng-style="{fill : coordenadas.clicked == 1 &&  tSeleccion=='unir'? 'blue' : '#26C281'}"
                             ng-repeat="coordenadas in json"
                    />


                           


                </svg>
            </div>


        </div>

        <div class="row">
            <div class="col-md-5">
                <p ng-if="numHistoricoActual">Historico #{{numHistoricoActual}}</p>
                <br>
            </div>
            <div class="col-md-7">
                <button class="btn btn-default" ng-click="AnteriorFinca()">
                    <span class="glyphicon glyphicon-chevron-left"></span>Anterior
                </button>
                <button class="btn btn-default" ng-click="siguienteFinca()">
                    <span class="glyphicon glyphicon-chevron-right"></span>Siguente
                </button>

            </div>

        </div>


    </div> <!--div seleccion finca-->

    <!-- Modal -->
    <div class="modal fade" id="myModalDiv" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4> Dividir </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div align="center" class="form-group">
                            <h5 > <label for="geojson" class="label label-primary">Importar GeoJson</label></h5>

                            <input  style="margin-left:100px;"   type="file" file-model="myFileDiv" />
                        </div>
                        <button ng-click="click_add_aparto(1)" class="btn btn-success btn-block" style="background:blue;">Aceptar </button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4> Añadir </h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div align="center" class="form-group">
                            <h5 > <label for="geojson" class="label label-primary">Importar GeoJson</label></h5>

                            <input  style="margin-left:100px;" id="geojson"  type="file" file-model="myFileX" />
                        </div>
                        <button ng-click="click_add_aparto(0)" class="btn btn-success btn-block" style="background:blue;"> Aceptar</button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>


    <div class="col-md-6">

        <ul id="tam_tab" class="nav nav-tabs">
            <li id="message_info" class="active"><a data-toggle="tab" href="#home">Información general</a>



            </li>

            <li id="message_info2"  ng-if="apartoAtual"><a data-toggle="tab" href="#menu1">Formularios de apartos</a></li>
            <li style="margin-left:400px; margin-top:-40px;">
                <button  id="anadir" ng-click="openModal()"><strong>Añadir</strong></button>
                <button id="dividir" ng-click="set_configuration_divs()"><strong>Dividir</strong></button>
                <button id="unir"><strong>Unir</strong></button>
                <button id="infoForms"><strong>Formularios</strong></button>
            </li>


        </ul>

        <div class="tab-content" style="margin-top: 2%">
            <div id="home" class="tab-pane fade in active">
                <div class="col-md-8" ng-if="gidFinca">
                    <div id="second_div" class="row">
                        <svg
                                width="450"
                                height="450"
                                style="border:2px groove #0455BF">

                            <polygon
                                    ng-click="unir(coordenadas.gid, coordenadas.puntos)"
                                    ng-repeat="coordenadas in jsonSeleccionado"
                                    ng-attr-points="{{coordenadas.puntos}}"
                                    style="fill:#0455BF;stroke:black;stroke-width:1" />

                        </svg>
                    </div>
                    <div class="row">
                        <div id="show_id" class="col-md-5">
                            <p ng-if="apartoGid">Aparto: {{apartoGid}}</p>
                        </div>

                        <div>
                            <button  id="set_divs" ng-click="config_divs()" style="display:none;"><strong>Realizar división</strong></button>
                            <button  id="set_union" ng-click="config_union()" style="display:none;"><strong>Realizar unión</strong></button>
                        </div>

                        <div id="buttons_pass" class="col-md-7">
                            <button class="btn btn-default" ng-click="AnteriorAparto()">
                                <span class="glyphicon glyphicon-chevron-left"></span> Anterior
                            </button>
                            <button class="btn btn-default" ng-click="siguienteAparto()">
                                <span class="glyphicon glyphicon-chevron-right"></span> Siguiente
                            </button>
                        </div>

                    </div>
                 </div>
            </div>
            <div id="menu1" class="tab-pane fade">
            <div class="col-md-10" >
                <div class="panel panel-info">
                    <div class="panel-heading clearfix" >
                        <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Formularios del aparto</h3>
                    </div>
                    <div class="panel-body" style="max-height: {{heightpanel}}px;">
                        <div class="row" style="padding-left:3%" >
                            <div class="col-md-10" ng-if="formulariosApartoActual.length == 0">
                                -- No hay formularios --
                            </div>

                            <div ng-if="formulariosApartoActual.length > 0" style="overflow-y:auto; max-height: {{heightListaPreg}}px; ">
                                <table class="table table-condensed" >
                                    <tr >
                                        <!--<th>Id</th>-->
                                        <th>Nombre</th>
                                        <th>Ver respuestas</th>
                                        <th></th>
                                        <th></th>
                                        <!--<th>Descripción</th>-->
                                        <!-- <th>Fecha</th>-->
                                    </tr>

                                    <tr ng-repeat="form in formulariosApartoActual">
                                        <!--<td>{{form.idform}}</td>-->
                                        <td style="width: 40%">{{form.nombreform}}</td>
                                        <!--<td>{{form.descripcion}}</td>-->
                                        <!--<td>{{form.fecha}}</td>-->
                                        <td style="width: 40%">
                                            <select style="padding-left:0%;" ng-model="$parent.respActualAparto" ng-change="formActualFuncAparto($parent.respActualAparto)" class="form-control selectsTabs">
                                                <!--<option value="" >Seleccione un Formulario</option>-->
                                                <option ng-repeat="respuesta in form.respuestas" value="{{respuesta}}">{{respuesta.fecha_hora| date:"dd/MM//yyyy  h:mma"}}</option>
                                            </select>

                                        </td>

                                        <td style="width:1%" >
                                            <a type="button" class="btn-eiminarOpcion"   ng-click = "mostrarRespuestasFormAparto()">
                                                <span class="glyphicon glyphicon-eye-open "></span>
                                            </a>
                                        </td>

                                        <td>
                                            <!-- <button type="button" class="btn-eiminarOpcion" ng-click="eliminarPregForm(opcion)">-->
                                            <span style="color: darkgray" title="ID:{{form.idform}}&#13; Descripción:{{form.descripcion}}&#13; Fecha:{{form.fecha}}  " class="glyphicon  glyphicon-info-sign icon-eiminarOpcion"></span>
                                            <!-- </button>-->

                                        </td>
                                        <!-- After seven iterations a new `<tr>` should be aded -->
                                        </td>
                                    </tr>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>

        </div>

    </div>

</div>
