
<!-- Modal -->
<div id="modalResponder" class="modal fade" role="dialog">
    <div id="modalResponderAncho" class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{DataForm.nombre}}</h4>
            </div>
            <div class="modal-body">
                <div class="typesDemo row">
                    <div class="col-md-4">
                        <div class="panel panel-info" >
                            <div class="panel-heading clearfix" >
                                <h3 class="panel-title" style="padding-top: 7.5px;">Información general</h3>
                            </div>

                            <div class="panel-body"  style="max-height: {{heightFormCrear}}px; overflow: auto">
                                <div class=" row"  style="margin-bottom: 1%">
                                    <label  class="col-md-6" >Nombre de formulario:</label>
                                    <div class="col-md-6">
                                        {{DataForm.nombre}}
                                    </div>
                                </div>
                                <div class=" row"  style="margin-bottom: 1%">
                                    <label  class="col-md-6" >Fecha de creación:</label>
                                    <div class="col-md-6">
                                        {{DataForm.fecha}}
                                    </div>
                                </div>
                                <div class=" row"  style="margin-bottom: 1%">
                                    <label  class="col-md-6" >Finca:</label>
                                    <div class="col-md-6">
                                        {{DataForm.nombreFinca}}
                                    </div>
                                </div>
                                <div ng-if="tipo == 'aparto'"  class=" row"  style="margin-bottom: 1%">
                                    <label  class="col-md-6" >Aparto:</label>
                                    <div class="col-md-6">
                                        {{apartoGid}}
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="panel panel-info" >
                            <div class="panel-heading clearfix" >
                                <h3 class="panel-title" style="padding-top: 7.5px;">Descripción</h3>
                            </div>

                            <div class="panel-body"  style="max-height: {{heightFormCrear}}px; overflow: auto">
                                <div class="col-md-12">
                                    {{DataForm.descripcion}}
                                </div>

                            </div>

                        </div>

                    </div>






                    <div class="col-md-8">

                        <div style=" position: absolute; right: 25%; z-index: 10; width: 40%;"  uib-alert ng-repeat="alert in alertRespuesta" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlertRespuesta($index)" dismiss-on-timeout="4000">{{alert.msg}}</div>

                        <div ng-repeat="list in list2">
                            <div class="panel panel-info" >
                                <div class="panel-heading clearfix" >
                                    <h3 class="panel-title pull-left" style="padding-top: 7.5px;">{{DataForm.nombre}}   (Página:{{nombrePag}})</h3>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="validar($parent.list2)">
                                        <span class="glyphicon glyphicon-floppy-disk"></span>
                                        Finalizar
                                    </button>
                                </div>
                                <div class="panel-body">

                                    <div ng-repeat="data in list.people"
                                         ng-show="data.orden == seccionActiva">

                                        <div>

                                            <!--For Text Inputs-->
                                            <div ng-repeat="person in data.preguntas"
                                                 class="background-{{person.type}}"
                                                 ng-show="person.hel == 'text'"
                                            >

                                                <div class="row">
                                                    <div class="name col-md-10 form-group">
                                                        <label>{{ person.enunciadopreg}}</label>
                                                        <input type="person.hel" class="form-control" name="{{person.idpreg}}" ng-model="person.answer" ng-required="{{person.requerido}}">
                                                    </div>
                                                </div>

                                            </div>

                                            <!--For Checkbox Inputs-->
                                            <div ng-repeat="person in  data.preguntas"
                                                 class="background-{{person.type}}"
                                                 ng-show="person.hel == 'checkbox'"
                                            >
                                                <div class="name">
                                                    <label>{{person.enunciadopreg}}</label>
                                                    <div class="row">
                                                        <div class="name col-md-10">
                                                            <div class="checkbox">
                                                                <div ng-repeat="chk1 in person.options">
                                                                    <input type="{{person.hel}}" ng-click = "toggle(chk1,person.answer)" ng-required="{{person.requerido}}">{{chk1.opcion}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--For Radio Inputs-->
                                            <div ng-repeat="person in  data.preguntas"
                                                 class="background-{{person.type}}"
                                                 ng-show="person.hel == 'radio'"
                                            >
                                                <div class="name">
                                                    <label>{{person.enunciadopreg}}</label>
                                                    <div class="row">
                                                        <div class="name col-md-10">
                                                            <div class="radio">
                                                                <div ng-repeat="rad in person.options">
                                                                    <input type="{{person.hel}}"  name="{{person.idpreg}}" ng-model="person.answer" ng-required="{{person.requerido}}" value="{{rad.opcion}}">{{rad.opcion}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--For Combobox o Dropdown o select-->
                                            <div ng-repeat="person in  data.preguntas"
                                                 class="background-{{person.type}}"
                                                 ng-show="person.hel == 'select'"
                                            >

                                                <div class="row">
                                                    <div class="name col-md-10 form-group">
                                                        <label>{{person.enunciadopreg}}</label>
                                                        <div>

                                                            <select ng-options="options.opcion as options.opcion for options in person.options" ng-model="person.answer" name="{{person.idpreg}}" ng-required="{{person.requerido}}" class="form-control">
                                                                <option style="display:none" value="">Seleccione</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <!--For Text TextArea-->
                                            <div ng-repeat="person in  data.preguntas"
                                                 class="background-{{person.type}}"
                                                 ng-show="person.hel == 'textarea'"
                                            >

                                                <div class="name">
                                                    <label>{{ person.enunciadopreg}}</label>
                                                    <textarea ng-model="person.answer" name="{{person.idpreg}}" ng-required="{{person.requerido}}" rows="4" cols="50" class="form-control input-sm">
                                    Texto...
                </textarea>
                                                </div>


                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <div class="panel-footer" style="margin-bottom: 0%">
                                    <ul class="pagination">
                                        <li><a href="" ng-click="pagination.prevPage(); change(n+1);">&laquo;</a></li>
                                        <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                            <a href="" ng-click="pagination.toPageId(n); change(n+1);">{{n + 1}}</a>
                                        </li>
                                        <li><a href="" ng-click="pagination.nextPage(); change(n+1);">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
</script>

<br>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-init="change()">
    <div class="panel-group" id="accordion">
        <div class="panel panel-info">
            <div class="panel-heading clearfix ">
                <div class=" col-md-3">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><a data-toggle="collapse" data-parent="#accordion" ng-click="cambiar('finca')" href="#collapse1"> Finca</a></h4>
                </div>
                <div class="input-group  col-md-9 ">
                    <input id="Special" type="text" class="form-control" ng-model="searchBox" placeholder="Search...">
                    <div class="input-group-btn">
                        <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body" style="max-height: {{heightpanel}}px;>
                    <ul class="list-group" ng-if="formulariosFincaAcual">
                        <li class="list-group-item" ng-if="formulariosFincaAcual.length == 0">
                            -- No hay formularios --
                        </li>
                        <li ng-repeat="data in formulariosFincaAcual | filter: searchBox" class="list-group-item" ng-if="formulariosFincaAcual.length > 0">
                            {{data.nombreform}}
                            <span class="pull-right">
                  <span title="ID:{{data.idform}}&#13; Descripción:{{data.descripcion}}&#13; Fecha:{{data.fecha}}  " class="glyphicon  glyphicon-info-sign icon-eiminarOpcion"></span>
                  <a ng-click = 'chooseForm(0,data.idform)'><span class="glyphicon glyphicon-flag"></span></a>
              </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" ng-click="cambiar('aparto')"  href="#collapse2"> Aparto: {{apartoGid}}</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-if="formulariosFincaAparto.length == 0">
                            -- No hay formularios --
                        </li>
                        <li ng-repeat="dataA in formulariosFincaAparto | filter: searchBox" class="list-group-item" ng-if="formulariosFincaAcual.length > 0">
                            {{dataA.nombreform}}
                            <span class="pull-right">
                  <span title="ID:{{dataA.idform}}&#13; Descripción:{{dataA.descripcion}}&#13; Fecha:{{dataA.fecha}}  " class="glyphicon  glyphicon-info-sign icon-eiminarOpcion"></span>
                  <a ng-click = 'chooseForm(1,dataA.idform)'><span class="glyphicon glyphicon-flag"></span></a>
              </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
