
<div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4" ng-init="loadMap()">
        <div class="col-xs-12" >
            <select ng-init="getFincas()"  ng-change="fincaIsSelectedFromCombo()" ng-options='finca as (finca.nombrefinca +" codigo: ("+ finca.codigofinca+") " ) for finca in fincas' ng-model="selectedFinca" class="form-control selectsTabs">
                <option value="" disabled selected>Seleccione una finca</option>
            </select>
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <button type="button" class="glyphicon glyphicon-triangle-bottom pull-right" ng-click="showInfoFinca = !showInfoFinca "></button>
                    <h5 class="panel-title">Información de la finca</h5>
                </div>
                <div class="panel-body" ng-show="showInfoFinca">
                    <table class="table table-hover">

                        <tbody>
                        <tr>
                            <td>Nombre</td>
                            <td>{{selectedFinca.nombrefinca}}</td>
                        </tr>
                        <tr>
                            <td>Codigo</td>
                            <td>{{selectedFinca.codigofinca}}</td>
                        </tr>
                        <tr>
                            <td>Ubicación</td>
                            <td>{{selectedFinca.provincia + ", " + selectedFinca.canton + ", " + selectedFinca.distrito}}</td>
                        </tr>
                        <tr>
                            <td>Dirección exacta</td>
                            <td>{{selectedFinca.direccionexacta}}</td>
                        </tr>
                        <tr>
                            <td>Fecha Creación</td>
                            <td>{{selectedFinca.fecha}}</td>
                        </tr>
                        <tr>
                            <td>Teléfono</td>
                            <td>{{selectedFinca.telefono}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs nav-justified " role="tablist">
                    <li class="active"><a ui-sref=".crudApartos"><span class="glyphicon glyphicon-menu-hamburger"></span> <strong>Apartos</strong></a></li>
                    <li><a ui-sref=".mostrarFormUser"><span class="glyphicon glyphicon-link"></span> <strong>Formularios</strong></a></li>
                    <li><a ui-sref=".responderForm"><span class="glyphicon glyphicon-arrow-up"></span> <strong>Historicos</strong></a></li>
                    <div ui-view = "dusTabsUser"> </div>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-xs-12 col-md-8 col-lg-8" ><!--SECCION DE SELECCIONAR EL APARTO A DIVIDIR-->
        <div id="ScribbleMap" style="width: 100%;height: 90vh" >
        </div>
    </div>
</div>



